@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --checkerboard-light: #fafafa;
  --checkerboard-yellow: #ffdd7e;
  --checkerboard-blue: hsl(212, 100%, 63%, 20%);
  --checkerboard-green: hsl(120, 100%, 63%, 20%);
  --checkerboard-red: hsl(261, 96%, 65%, 20%);
  --checkerboard-size: 12rem;
  --checkerboard-position: 0 0, 0 calc(var(--checkerboard-size) / 2),
    calc(var(--checkerboard-size) / 2) calc(-1 * var(--checkerboard-size) / 2),
    calc(-1 * var(--checkerboard-size) / 2) 0px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --checkerboard-light: #030305;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  @apply checkerboard-default;
}

h1 {
  @apply text-6xl desktop:text-8xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-2xl;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .button-default {
    @apply border-2 border-gray-600 hover:border-black bg-black bg-opacity-0 hover:bg-opacity-10;
  }

  .shadow-standard {
    box-shadow: 0 0 9px white;
  }

  .fade-out-two-sides {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 5%,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0.5) 95%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .checkerboard-helper {
    @apply bg-checkerboard-size-default bg-checkerboard-position-default;
  }

  .checkerboard-default {
    @apply bg-checkerboard-default bg-checkerboard-size-default bg-checkerboard-position-default;
  }

  .container-default {
    @apply px-4 desktop:px-10;
  }
}
